.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body .hiveRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: space-evenly;
  margin: 1em;
}
body .hiveRow .theHive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .hiveRow .theHive div .transparent {
  color: white;
}
body .hiveRow .theHive div .hive {
  background-color: yellow;
  border-radius: 40%;
  color: #ffd00094;
}
body .hiveRow .theHive div .bottom {
  box-shadow: #ffd00094 0px 4px;
}
